*{
  font-family: "Comfortaa", sans-serif;
  color: rgb(255, 255, 255);
}

header{
  background-color: rgb(89, 34, 229);
  position: relative;
  top: -100px;
  /*left: -150px;*/
  height: 300px;
  width: 100%;
  display: compact;
  /*clip-path: polygon(*/
    /*0% 0,*/
    /*100% 0,*/
    /*100% 100%,*/
    /*0 70%*/
  /*);*/
}

div.background {
  clip-path: polygon(
    0% 0%,
    100% 15%,
    100% 100%,
    0% 100%
  );
  background-image: url("Glidings.jpg");
  background-size: cover;
  top: -200px;
  height: 500px;
  left: 0%;
  width: 100%;
  position: relative;
}


div.container-fluid{
  top: -220px;
  position: relative;
}
li{
  list-style: none;
}

p.title{
  font-size: 91px;
  text-align: center;
  position: relative;
  top: 60px;
}

a.func {
  font-size: 1.5pc;
  text-decoration: none;
  outline: none;}

a.upload{
  background-color: rgb(67, 146, 241);
  padding: 1.5% 20.2% 1.5% 20.5%;
  position: relative;
  left:0%;
  top: 0px;
}
a.upload:hover{
  background-color: rgb(87, 166, 255);
}

a.map{
  background-color: #7cc254;
  padding: 1.5% 21.5%;
  position: relative;
  left:50.1%;
  top: 26px;
}
a.map:hover{
  background-color: #91cc78;
}


ul.connect {
  background-color: rgb(67, 146, 241);
  position: relative;
  left: 84%;
  top: -150px;
  list-style-type:none;
  width: 200px;
  height: 80px;
  border-radius: 15px 15px 15px 15px;
}
a.connect{
  font-size: 1pc;
  position: relative;
}
a.connect:hover{
  color: rgb(230,230,255);
}
a.signup{
  top: 1pc;
}
a.signin{
  top: 2pc;
}
