<header>
  <div class="title">
    <p class="title">
      Gliding Tracks
    </p>
  </div>
  <div class="connect">
    <div routerLinkActive="active" *ngIf="!isAuth">
      <a class="connect signup" routerLink="auth/signup">Create account</a>
    </div>
    <div routerLinkActive="active" *ngIf="!isAuth">
      <a class="connect signin" routerLink="auth/signin">Sign in</a>
    </div>
    <li *ngIf="isAuth">
      <a class="connect signout" (click)="onSignOut()">Sign out</a>
    </li>
  </div>
</header>

<nav class="navbar navbar-default" xmlns="" xmlns="">
  <div class="background"></div>

  <div class="container-fluid">
      <div routerLinkActive="active">
        <button class="func map" routerLink="map-view">Map View</button>
        <button class="func upload" routerLink="upload">Upload track</button>
      </div>
  </div>
</nav>
