<header>
  <div class="title">
    <p class="title">
      Web Gliding
    </p>
  </div>
  <ul class="connect">
    <li routerLinkActive="active" *ngIf="!isAuth">
      <a class="connect signup" routerLink="auth/signup">Create account</a>
    </li>
    <li routerLinkActive="active" *ngIf="!isAuth">
      <a class="connect signin" routerLink="auth/signin">Sign in</a>
    </li>
    <li *ngIf="isAuth">
      <a (click)="onSignOut()"
         style="cursor:pointer">Sign out</a>
    </li>
  </ul>
</header>

<nav class="navbar navbar-default" xmlns="" xmlns="">
  <div class="background"></div>

  <div class="container-fluid">
      <div class="map" routerLinkActive="active">
        <a class="func map" routerLink="map-view">Map View</a>
      </div>
      <div class="upload" routerLinkActive="active">
        <a class="func upload" routerLink="upload">Upload track</a>
      </div>
  </div>
</nav>
