*{
  background-color: #7cc254;
  margin: 0;
}

.viewport {
  height: 100%;
  margin: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  font-size: 1.5vw;
}

button{
  display: block;
  margin: 0.5vh auto 1.5vh;
  background-color: white;
  color: black;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5vw;
  text-decoration: none;
  outline: none;
  border: none;
}

button:hover{
  background-color: #EFEFEF;
}

.track-container {
  text-align: left;
  margin-top: 1vh;
  font-size: 1vw;
}

.track {
  padding: 0.2vh 0;
  font-size: 0.8vw;
}

.page {
  cursor: pointer;
}
