*{
  background-color: #7cc254;
  margin: 0;
}

.viewport {
  height: 100%;
  margin: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  font-size: 1.5vw;
}

button{
  width: 50%;
  padding: 2vh;
  background-color: #7cc254;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5vw;
  text-decoration: none;
  outline: none;
  border: none;
}

.track-container {
  text-align: left;
  /*margin-top: 1vh;*/
  font-size: 1vw;
}

.track {
  padding: 0.2vh 0;
  font-size: 0.8vw;
}

h4{
  background-color: #91de5b;
}

