<div class="viewport">
  <p>Track List</p>
  <div class="getTracks">
      <button (click)="showTracks();switchTracksPanel(false);"
              [ngStyle] = "{'background-color': getTracksColor(false)}">
        Public Tracks</button>
      <button (click)="showOwnTracks();switchTracksPanel(true);"
              [ngStyle] = "{'background-color': getTracksColor(true)}">My Tracks</button>
  </div>
  <div class="track-container" *ngIf="tracks">
    <h4>Number of tracks: {{ tracks.length }}</h4>

    <div class="track" *ngFor="let mytrack of tracks">
      <app-single-track [track]="mytrack"></app-single-track>
    </div>
  </div>
</div>
