div{
  background-color: #91de5b;
  padding: 1vh 0.2vw;
}

.viewport{
  box-shadow: 0 -0.15vh 0 #5A26E3;
}

.buttons{
  width: 50%;
  float: right;
}

div.more{
  z-index: -1000;
  padding: 0;
  display: inline-block;
  background-color: #4392F1;
}

button{
  font-family: Comfortaa, sans-serif;
  outline: none;
  border: none;
  background-color: white;
  float: right;
  font-size: 1vw;
  padding: 1vh;
}
button:hover{
  background-color: #EFEFEF;
}

button.shown{
  margin-right: 6%;
  margin-left: 3%;
}
button.moreFunc{
  float: none;
  width: 100%;
  text-align: center;
}
