<div *ngIf="track">
  <button class="more" (click)="showMore()">
    More
  </button>
  <button class="useTrack" (click)="useTrack()">
    Select track
  </button>
  <div *ngIf="more" class="more" id="more">
    <br>
    <button class="downloadTrack" (click)="downloadTrack()">
      Download track
    </button>
    <button class="changePrivacy" (click)="changePrivacy()">
      Change privacy
    </button>
    <br>
  </div>
  <div>
  Pilot: {{ track.Record.Header.Pilot }} <br>
  Import date: {{ track.Time*1000 | date:'MM/dd/yyyy HH:mm:ss' }} <br>
  Privacy: {{ track.Privacy }}
  </div>
</div>
