.track {
  background-color: #91de5b;
  padding: 0.5vh 1vw;
}

button{
  font-family: Comfortaa, sans-serif;
  outline: none;
  border: none;
  background-color: white;
  float: right;
  font-size: 1vw;
}
button:hover{
  background-color: #EFEFEF;
}

button.useTrack{
  margin-right: 1.5vw;
}
button.downloadTrack{
  margin-top: 2.5vh;
}
button.more{
  margin-right: 1.5vw;
}
button.changePrivacy{
  margin-right: 1.5vw;
  margin-top: 02.5vh;
}

div.more{

}
