*{
  background-color: #7cc254;
  margin: 0 0;
}

div.map{
  float: right;
  width: 80%;
  margin-right: 5vw;
}

#info{
  padding: 0 0 40% 0.5%;
  font-size: 0.9vw;
}

#pilot{
  font-size: 1.1vw;
  text-align: center;
  padding: 1vh 0;
}
