<div class="row">
  <app-tracks></app-tracks>

  <div class="viewport">
    <p>Map View</p>
    <div class="track-header">
      Pilot : {{ pilot }}
      <div class="track-info-container">
        <div class="track-info">
          <span class="label">Flight Day:</span> {{ trackDay | date }} <br>
          <span class="label">Flight Duration:</span> {{ flightDuration }} <br>
          <span class="label">Total Distance:</span> {{ totalDistance | meter:'km':0.001 }} <br>
        </div>
        <div class="track-info">
          <span class="label">Start Altitude:</span> {{ startAltitude | meter }} <br>
          <span class="label">Stop Altitude:</span> {{ stopAltitude | meter }} <br>
          <span class="label">End to End Distance:</span> {{ e2eDistance | meter:'km':0.001 }} <br>
        </div>
        <div class="track-info">
          <span class="label">Highest Point:</span> {{  highestPoint | meter }} <br>
          <span class="label">Max Ascending Speed:</span> {{ maxAscendSpeed | number:'1.1-1' }}m/s <br>
          <span class="label">Max Descending Speed:</span> {{ maxDescentSpeed | number:'1.1-1' }}m/s <br>
        </div>
        <div class="track-info">
          <span class="label">Time Lift:</span> {{ flightLift }}<br>
          <span class="label">Time Thermal:</span> {{ flightThermal }} <br>
          <span class="label">Time Flight:</span> {{ flightFlight }} <br>
        </div>
        <div class="track-info">
          <span class="label">Time Sinking:</span> {{ flightSinking }} <br>
          <span class="label">Time Soaring:</span> {{ flightSoaring }} <br>
        </div>
      </div>
    </div>
    <div id="map" class="map">
      <div class="tooltip-container"
           [ngStyle]="{
             left: getScreenPos(0),
             top: getScreenPos(1),
             visibility: isShown()
             }">
        <div class="tooltip-text">
          <span class="label">Latitude:</span> {{ currentLatitude | latitude }} <br>
          <span class="label">Longitude:</span> {{ currentLongitude  | longitude }} <br>
          <span class="label">Altitude:</span> {{ currentAltitude }}m <br>
          <!--<span class="label">Date:</span> {{ currentDate | date:'short' }} <br>-->
          <span class="label">Status: </span>{{ currentStatus}} <br>
        </div>
      </div>
    </div>
  </div>
</div>


