<div class="row">
  <app-tracks></app-tracks>

  <div class="viewport">
    <p>Map View</p>
    <div class="track-header">
      Pilot : {{ pilot }}
      <div class="switch-container">
        <div class="switch" (click)="switchInfoPanel(false)"
             [ngStyle] = "{'background-color': getSwitchColor(false)}">
          General information
        </div>
        <div class="switch" (click)="switchInfoPanel(true)"
             [ngStyle] = "{'background-color': getSwitchColor(true)}">
          Start/Turn-points/End information
        </div>
      </div>
      <!-- General track information -->
      <div class="track-info-container" *ngIf="!infoSwitch">
        <div class="track-info">
          <span class="label">Flight Day:</span> {{ trackDay | date }} <br>
          <span class="label">Flight Duration:</span> {{ flightDuration }} <br>
          <span class="label">Total Distance:</span> {{ totalDistance | meter:'km':0.001 }} <br>
        </div>
        <div class="track-info">
          <span class="label">Start Altitude:</span> {{ startAltitude | meter }} <br>
          <span class="label">Stop Altitude:</span> {{ stopAltitude | meter }} <br>
          <span class="label">End to End Distance:</span> {{ e2eDistance | meter:'km':0.001 }} <br>
        </div>
        <div class="track-info">
          <span class="label">Highest Point:</span> {{  highestPoint | meter }} <br>
          <span class="label">Max Ascending Speed:</span> {{ maxAscendSpeed | number:'1.1-1' }}m/s <br>
          <span class="label">Max Descending Speed:</span> {{ maxDescentSpeed | number:'1.1-1' }}m/s <br>
        </div>
      </div>
      <!-- Start/Turn-points/End information -->
      <div class="track-info-container" *ngIf="infoSwitch">
        <div class="track-info">
          <span class="label">Start Time:</span> {{ startPoint.Time | date:'shortTime' }}<br>
          <span class="label">Start Altitude:</span> {{ startPoint.GPS_alt | meter }}<br>
          <span class="label">Start Position:</span><br>{{ startPoint.Latitude | latitude }}, {{ startPoint.Longitude | longitude }}<br>
        </div>
        <div class="track-info">
          <span class="label">TP1 Time:</span> {{ turnPoint1.Time | date:'shortTime' }}<br>
          <span class="label">TP1 Altitude:</span> {{ turnPoint1.GPS_alt | meter }}<br>
          <span class="label">TP1 Position:</span><br>{{ turnPoint1.Latitude | latitude }}, {{ turnPoint1.Longitude | longitude }}<br>
        </div>
        <div class="track-info">
          <span class="label">TP2 Time:</span> {{ turnPoint2.Time | date:'shortTime' }}<br>
          <span class="label">TP2 Altitude:</span> {{ turnPoint2.GPS_alt | meter }}<br>
          <span class="label">TP2 Position:</span><br>{{ turnPoint2.Latitude | latitude }}, {{ turnPoint2.Longitude | longitude }}<br>
        </div>
        <div class="track-info">
          <span class="label">End Time:</span> {{ endPoint.Time | date:'shortTime' }}<br>
          <span class="label">End Altitude:</span> {{ endPoint.GPS_alt | meter }}<br>
          <span class="label">End Position:</span><br>{{ endPoint.Latitude | latitude }}, {{ endPoint.Longitude | longitude }}<br>
        </div>
      </div>
    </div>
    <div id="map" class="map">
      <div class="tooltip-container"
           [ngStyle]="{
             left: getScreenPos(0),
             top: getScreenPos(1),
             visibility: isShown()
             }">
        <div class="tooltip-text">
          <span class="label">Latitude:</span> {{ currentLatitude | latitude }} <br>
          <span class="label">Longitude:</span> {{ currentLongitude  | longitude }} <br>
          <span class="label">Altitude:</span> {{ currentAltitude }}m <br>
          <span class="label">Date:</span> {{ currentDate | date:'short' }} <br>
        </div>
      </div>
    </div>
  </div>
</div>
