*{
  background-color: #5A26E3;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
}

body{
}
div.row{
  height: 50vh;
}

input, button{
  background-color: white;
  margin: 2vh auto;
  text-align: left;
}

button {
  font-size: 1.5vw;
  text-decoration: none;
  outline: none;
  border: none;}
button:hover{background-color: #EFEFEF;}
