<h1>Upload file</h1>

<div>
  <div class="file">
    <h3>Upload from file</h3>
    <form enctype="multipart/form-data" [formGroup]="uploadFromFileForm" (ngSubmit)="onUploadFromFile()" novalidate>
      <div class="form-group">
        <label for="file">Select file : </label>
        <input type="file" id="file"
               class="form-control"
               formControlName="file">
      </div>
      <button type="submit"
              [disabled]="uploadFromFileForm.invalid">Upload
      </button>
    </form>
  </div>
  <div class="url">
    <h3>Upload from URL</h3>
    <form [formGroup]="uploadFromURLForm" (ngSubmit)="onUploadFromURL()">
      <div class="form-group">
        <label for="fileURL">Enter file URL : </label>
        <input type="url"
               id="fileURL"
               class="form-control"
               formControlName="fileURL">
      </div>
      <button type="submit"
              [disabled]="uploadFromURLForm.invalid">Upload
      </button>
    </form>
  </div>
</div>
