<h1>Upload file</h1>

<div>
  <ul>
    <li>
      <h3>Upload from file :</h3>
      <form [formGroup]="uploadFromFileForm" (ngSubmit)="onUploadFromFile()">
        <div class="form-group">
          <label for="file">Select file : </label>
          <input type="file"
                 id="file"
                 class="form-control"
                 formControlName="file">
        </div>
        <button type="submit"
                [disabled]="uploadFromFileForm.invalid">Upload
        </button>
      </form>
    </li>
    <li>
      <h3>Upload from URL :</h3>
      <form [formGroup]="uploadFromURLForm" (ngSubmit)="onUploadFromURL()">
        <div class="form-group">
          <label for="fileURL">Enter file URL : </label>
          <input type="url"
                 id="fileURL"
                 class="form-control"
                 formControlName="fileURL">
        </div>
        <button type="submit"
                [disabled]="uploadFromURLForm.invalid">Upload
        </button>
      </form>
    </li>
  </ul>
</div>
